[2016-07-08 12:29] jdnurmi opened #2 "Validation of objects not working?"
I stumbled on this project a day or two ago and wanted to put it through its paces, but I seem to be having trouble getting object validation to work properly:

[code]

Resulting (locally) in:
[code]

(PVal's are ParamValidators, SVal's are SchemaValidators)
The first is an object in 'body' with required parameters omitted - PVal throws a confusing error, SVal indicates no failure.
Second is a sim

[2016-07-12 12:19] jdnurmi commented on #2
I finally got something working after some rejiggery, Pre-Expanding the schema and judicious reading of https://github.com/nevins-b/swagger-waf/blob/master/waf/validate.go - this can be closed PEBKAC

[2016-07-12 12:19] #2 closed

[2016-08-01 22:51] weching opened #3 "validation issue: can't have same parameter name in path and formData"
If the name of path parameter and form parameter is same, then validation failed. Definition, eg:

[code]

Error:

As per swagger spec, the definition is allowed.

[2016-08-05 23:21] weching opened #4 "Stack overflow fatal error occurred if the json schema has circular reference"
If the json schema has circular reference defined, the validator will go into stack overflow fatal error and cause the program crash. Part of log:

This is the swagger file, and cyclic definition in schema  part is "TableFieldSchema" -> "TableFieldSchema".

[googleapis.com_bigquery_v2.txt](https://github.com/go-openapi/validate/files/404753/googleapis.com_bigquery_v2.txt)

Unfortunately in golang,

[2016-08-07 07:49] vburenin commented on #3
Interesting. It seems like it might also affect query string as well. It seem like all parameters need to be separated into different groups such as query params, form param and path params and combined into one struct using composition.

So, it Go will produce efficient code and data structures meanwhile fighting ambiguous definitions.

Something like it: https://play.golang.org/p/JNKcPIy8JL

[2016-08-07 15:10] casualjim commented on #3
fwiw this is just for validation, code generation is not a goal/consideration for this particular component

I think the analyzer needs to be able to generate another view of params that's not a single bag.
https://github.com/go-openapi/analysis/blob/master/analyzer.go#sourcegraph&def=GoPackage/github.com/go-openapi/analysis/-/Spec/ParamsFor&L444-451

And then the validation needs to take that int

[2016-08-08 02:33] weching commented on #4
Realized this is duplicated as https://github.com/go-openapi/spec/issues/3.

[2016-08-08 15:38] casualjim commented on #4
does that mean that once you upgrade the stackoverflow disappears or is that still an issue?

[2016-08-08 18:30] weching commented on #3
@vburenin As per the testing, only for path + form param. All other combinations are fine.

[2016-08-08 18:32] weching commented on #4
Stackoverflow disappears after upgrading the lib.

[2016-08-08 18:35] #4 closed

[2016-08-08 19:32] vburenin commented on #3
@weching Thank you, I will look into it deeper when I have enough time for open source fun.

[2016-08-15 01:59] mbohlool opened #5 "Empty schemes list is not allowed in openAPI spec"
The validation passes for Specs with empty "schemes" list. Valid values are defined in "schemesList" section of swagger 2.0 schema at http://swagger.io/v2/schema.json and empty is not one of them.

[2016-08-15 02:12] mbohlool opened #6 "Empty response list is not allowed in openAPI spec"
According to "responses" section of http://swagger.io/v2/schema.json each operation should have at least one response but an spec with no response will pass this validation.

[2016-08-15 10:16] mbohlool opened #7 "Parameter with the same name in different location of an operation is valid"
For example, for a path such as /api/{param}/op?param=... that has a param in "path" and a param in "query", the validation will fail while this is a valid schema.

[2016-08-15 13:54] casualjim commented on #7
duplicate of #3 ?

[2016-08-15 16:54] mbohlool commented on #7
Yes, and the location to fix it is in analysis repo. I am closing this in favor of go-openapi/validate#6. Will send a pull request shortly.

[2016-08-15 17:20] #3 closed

[2016-09-02 20:30] BafFlynN opened #8 "Quick Question - Is this the package I could use for a model validation?"
Is this the package I would use for model validation?

[2016-09-02 22:16] casualjim commented on #8
this package has the code for validation of spec, schema, parameters, models and discrete values.

discrete values: https://github.com/go-openapi/validate/blob/master/values.go
models: https://github.com/go-openapi/validate/blob/master/spec.go#L59
headers: https://github.com/go-openapi/validate/blob/master/validator.go#L177
parameter: https://github.com/go-openapi/validate/blob/master/validator.go

[2016-09-06 00:06] SlevinT commented on #8
ok that makes sense. For definitions, I am writing a validator to be schemaless using the "github.com/Jeffail/gabs" package, it might take a me a while to finish to spec, but where should that posted / contributed back to (would you want it)

These packages have been a blast, I have been writing a middleware for work on top of the golang echo server package.

[2016-09-06 04:47] casualjim commented on #8
I don't think I fully understand :)

How does the gabs package compare with https://github.com/buger/jsonparser or https://github.com/mailru/easyjson

[2016-09-13 04:47] BafFlynN commented on #8
so the biggest difference is that gabs allows for a schemaless json object to built. So probably not a good substitution. What I am building is a piece of middleware for https://github.com/labstack/echo that is essentially two pieces of middleware.
A validator and Responder.

So in the simplest explanation possible. A middleware router, that maps a schema to a full functioning api. I probably didn

[2016-09-13 04:55] casualjim commented on #8
right. have you seen the dynamic API server in go-swagger?  https://github.com/go-swagger/go-swagger/blob/master/examples/2.0/petstore/server/api/petstore.go
is it comparable to that? I would like to get some kind of contrib project going that gathers the external integrations.

yeah so operation id is not guaranteed to be unique or even always present. when we want unique names we use a mangling

[2016-09-13 18:47] BafFlynN commented on #8
It is kind of comparable. I am more focusing on a way, for it to parse the scema and map to handlers all without any hard code. No structures for responses or validating. However is there a plan for the future of OAI to allow for the description of which handler the method / route will use?

If not my argument would be for documentation on using it, if the api throws an error, it could help develo

[2016-09-28 23:34] BafFlynN commented on #8
@casualjim can you explain how strfmt.Registry actually works for .AgainstSchema? (I would rather make sure your package works for what I need, rather than reinvent the wheel.)

[2016-09-29 01:01] #8 closed

[2016-09-30 20:11] BafFlynN commented on #5
@mbohlool I am not apart of this group but I will send a pull req soon with both of your fixes and I verify on the Spec.

[2016-09-30 20:27] casualjim commented on #8
you're fairly active, are you aware of https://slackin.goswagger.io/ ?

[2016-10-01 01:25] BafFlynN commented on #8
I am now. Thank you! My plan is to get my company to pay for the linux membership since I am, well I think I am doing some cool stuff using the Schema and packages.

[2016-10-01 01:28] casualjim commented on #8
for influencing and contributing to the go version you don't need to be a member of the linux foundation.That's only if you want to influence the spec :)

[2016-10-14 14:02] casualjim opened #11 "refs with an invalid format cause out of memory"
It takes  a very long time to validate and render a spec that has invalid syntax for refs. In the example the refs have a syntax of `#definitions/Bar` as opposed to `#/definitions/Bar`  which triggers the issue.

[code]

related: go-swagger/go-swagger#605

[2016-10-14 14:03] casualjim opened #12 "validation message list contains duplicates"
When validating a spec or schema sometimes the same error occurs many times

For the following spec there is only 1 operation but it renders the same error message 4 times.

[code]

[2016-10-14 18:32] casualjim opened #13 "enum validation fails for int enum"
for the following schema:

[code]

the following data fails and it should succeed

[code]

This data should fail

[code]

[2016-10-14 18:50] #13 closed

[2016-10-15 13:18] cristovarghese opened #16 "Pattern function could probably store compiled patterns."
While doing so some optimization for an application using swagger, I noticed patterns are being compiled repeatedly. This is wasting CPU cycles for garbage collection routines and also unnecessary repeated compilation. Is it possible to cache the the compiled patterns in some  map which can be re-used if necessary.

[code]

[2016-10-19 18:27] jbub opened #17 "validation fails for a valid spec"
I am trying to validate this spec:
https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v2.0/yaml/petstore-separate/spec/swagger.yaml
## Using go swagger:

[code]

[code]
## Fails with:

[code]
## Using swagger tools:

[code]

[code]
## Succeeds with:

[code]

[2016-10-19 19:06] jbub commented on #17
problem caused by invalid homebrew installation, closing

[2016-10-19 19:11] casualjim commented on #17
[code]

[2016-11-03 16:59] #17 closed

[2016-11-07 16:07] casualjim opened #18 "Validation: invalid patterns in parameters are not detected"
An invalid `pattern` (for example a closing ')' not opened) in a parameter specification is not detected as invalid.

Regexp syntax should be checked both in parameters and schemas.

Here is an invalid spec that should be rejected by `swagger validate` (9d534e75942c4c135190752f634216aa92a2997c) but isn't:

[code]

see: go-swagger/go-swagger#530

[2016-11-26 06:16] casualjim commented on #11
no longer an issue

[2016-11-26 06:16] #11 closed

[2016-12-20 10:04] mex opened #19 "Validation of zero values"
This library currently marks a zero value for a required property as an error (https://github.com/go-openapi/validate/blob/027696d4b54399770f1cdcc6c6daa56975f9e14e/values.go#L116).

But this doesn't really make sense in an API, because you should be allowed to send in a `0` for an integer property or a `false` for a boolean property even if it is required.

In regards to integers, the minimum opti

[2016-12-20 15:29] casualjim commented on #19
required values are rendered as pointers normally, the zero value for that is nil
Do you have a specification or an example where it doesn't render it as a pointer?

[2016-12-20 16:32] mex commented on #19
I have a case, where I have set a boolean as required and `x-nullable: false`, because I don't want the pointer. I want a value that's either `true` or `false` - and nothing else.
[code]

In this case I get a validation error, if I send in `"isPrimary": false`, because of that validation check.

[2016-12-20 16:36] casualjim commented on #19
You're explicitly disabling the ability to detect if a value is required or not with x-nullable: false.
I assume you want to fail when the key isPrimary isn't in the json? Isn't the absence of the key the same as false?

[2016-12-20 16:43] mex commented on #19
I want it to provide a validation error, if `isPrimary` is absent. And no, I wouldn't say so. I don't want truthy/falsy scenarios.

I'm starting to grasp the complexity of my issue as it would require some intermediate unmarshalling step into a struct with pure pointers, perform the validation and then make a conversion to my desired result of a struct with values.

[2016-12-20 16:53] casualjim commented on #19
there are a number of helpers in the swag package to make working with pointers easier.
https://github.com/go-openapi/swag/blob/master/convert_types.go#L66-L78

[2016-12-20 17:00] mex commented on #19
Yeah, I know about that, but I just don't want those conversions everywhere in my code (we are talking about around 100 endpoints with 10+ properties a piece).

It makes for ugly code to use pointers for required and values for optional in the API layer, while using values for required and pointers for optional in the database layer.

[2016-12-20 17:03] casualjim commented on #19
I have a PR that deals with this, but I can't merge because it's a breaking change, and a big one.
That PR allows for detection of absence of key as well as null value and uses only value properties.
I think the opportunity to fix this behavior will need to wait until openapi spec v3 is released so that people expect actual breakage

[2016-12-20 17:06] mex commented on #19
Cool, looking forward to that then! I'll manage with `absence ~= false` until then.

[2016-12-23 04:39] GlenDC commented on #5
@BafFlynN are you still working on this?

[2016-12-23 05:50] #18 closed

[2016-12-23 13:46] GlenDC commented on #16
PR #18 has been merged, showing there are quite a lot of places where patterns occur and regular expressions get compiled. We could definitely cache the results and errors.

The one and only approach I currently see being possible, is using a global somehow for this (in- or directly exposed).

Perhaps @casualjim has some better ideas regarding this suggestion.

[2016-12-27 01:54] GlenDC commented on #5
As far as  I can see, an empty `schemes` list is acceptable. It validates also in the swagger editor. On top of that you can read this in the OpenAPI spec markdown version:

Source: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#swagger-object

So @casualjim I think you can close this issue?

[2016-12-27 02:03] GlenDC commented on #6
This issue seemed already to be fixed in the latest version of `go-openapi/validate` @casualjim, added a PR to add a unit-test to validate and assert this. This issue can be closed.

[2016-12-27 03:02] casualjim commented on #5
I think the issue is that the value of schemes can be an empty list, and an empty list is not allowed.
schemes can be missing from the json document, they can be null but they can't be an empty list

[2016-12-27 03:04] #6 closed

[2016-12-27 14:59] GlenDC commented on #5
But why consider that an issue, semantically an empty list, and no list at all, are the same, no?

@casualjim if you want this to be fixed, I can look into it though. Where exactly does it say that an empty list is not allowed, because if so, than the swagger editor will need a PR too, as it doesn't invalidate an empty list given for schemes either.

[2016-12-27 16:46] #5 closed

[2017-02-01 01:54] igorsechyn opened #24 "Standalone validation of http.Request objects"
Hi,

I am currently investigating the idea of writing a simple middleware for validating http requests and responses against a swagger spec in a proxy server. I.e. I do not want to use the whole middleware and router implementation provided by go-openapi.

I was wondering, if there is an example for that or if it is possible in general?

Cheers, Igor.

[2017-02-01 04:18] casualjim commented on #24
The code is there but some methods are not exported.

https://github.com/go-openapi/runtime/blob/master/middleware/request.go
It does require you to create a context and get to a matched route https://github.com/go-openapi/runtime/blob/master/middleware/router.go#L145-L167

The router is more to find one of those matched routes based on the request. From there on you can use that to validate a req

[2017-02-02 09:51] igorsechyn commented on #24
Thanks for a quick response. I ended up creating a context object with a custom RoutedApi, which returns the same handler for each path/operation combination, proxying it to the target

[2017-02-02 09:51] #24 closed

[2017-05-07 13:45] nikhita opened #25 "Is there any documentation/tutorial?"
I could not find any tutorial or examples on how to use this package (maybe I missed it). Please let me know if there are some simple examples mentioned anywhere. Thanks.

[2017-05-07 16:11] casualjim commented on #25
What is it you're trying to achieve? validate a spec or validate data against a spec?

[2017-05-07 16:42] nikhita commented on #25
Thanks for the quick reply, validate data against a spec.

[2017-05-07 16:59] casualjim commented on #25
if you have a swagger spec you can get the schema you want to validate against by getting it from the definitions
Then you can call this function: https://github.com/go-openapi/validate/blob/master/spec.go#L60

Let's say I have a defintion called User, you'd get something that looks like this:

[code]

[2017-05-08 15:17] nikhita commented on #25
Thanks a lot for your response and sorry for the noob question but is it possible to validate an instance of a schema against the (openapi) schema without the openapi spec around it?

[2017-05-08 15:28] casualjim commented on #25
I'm confused about this question :)

You want to validate a swagger spec (schema in your question) against the openapi specification to see if the spec is valid? Or do you want to validate a datastructure against a schema in the definitions of the swagger spec?

[2017-05-08 15:32] nikhita commented on #25
Sorry I wasn't clear before.

I have a JSON payload (request or response body) and I have a schema to validate it against. Is it possible to achieve this validation? :)

[2017-05-08 15:35] nikhita commented on #25
Gah, I saw your answer on SO. I was confused and got it cleared now! Thanks a lot!

[2017-05-08 15:36] nikhita commented on #25
Also, I really appreciate you helping out so well. It's very hard to find maintainers who do that. :)
Thanks again, closing the issue.

[2017-05-08 15:36] #25 closed

[2017-05-15 01:33] lestrrat opened #26 "go-swagger and additionalProperties generates panic"
I got this panic by using `additionalProperties` in one of the response definitions.
(I guessed that this issue blongs to go-openapi instead of go-swagger, let me know if I'm wrong)

[code]

[code]

[2017-09-21 08:46] hypnoglow opened #30 "multipleOf validation fails on float numbers < 1"
For example, validating  value `9.1` by rule `multipleOf: 0.1` fails. This is because 9.1 / 0.1 = 90.99999999999.

[2017-09-21 14:40] #30 closed

[2017-10-14 12:18] dtravin commented on #19
@casualjim can you publish the PR you mentioned?
I guess there is a place for `RequiredBool` method that does not have the `reflect.DeepEqual` check

[2017-10-20 00:44] imikushin opened #33 "Panic validating an object with a json.Number in a "type":"string" field"
The following test throws a panic in the last line:

[code]

[2017-10-20 19:15] #33 closed

[2017-10-20 19:17] casualjim commented on #26
this spec is invalid

it should be:

[code]

[2017-10-20 19:17] #26 closed

[2017-10-20 19:23] lestrrat commented on #26
Woohoo, a reply after 5 months! Yay.

For the record, I think it's totally fine that you pointed out the spec is wrong, but I don't think a go program should panic because of this. panic'ing in go is wrong. (of course, I haven't checked any recent version of go-swagger)

[2017-11-10 15:12] elakito opened #39 "PathParam declared as a fragment within a path segment is not recognized"
When a path parameter is declared as a fragment in a path segment, as in

[code]

go-openapi's validator fails to recognize this parameter and results in the error:
2017/11/10 15:54:50 path param "fragment" is not present in path "/foo/bar{fragment}"

I noticed this problem when I was using go-swagger and the error was coming from the validation code of go-openapi

I will add a PR that fixes the v

[2017-11-17 17:46] #39 closed

[2017-12-07 13:52] tetafro opened #41 "Failed to validate proper spec file"
Trying to validate example spec file [petstore](http://petstore.swagger.io/v2/swagger.yaml) with the following code
[code]

It returns an error
[code]

I'm using the latest versions of all imported packages.

[2017-12-07 15:28] fredbi commented on #41
Could you please attach you spec?

[2017-12-07 16:36] casualjim commented on #41
I can't reproduce this issue:

[code]

You don't need to use expand options in this case, the document already knows how do do that.

[2017-12-07 19:22] #41 closed

[2017-12-07 20:32] fredbi commented on #12
I am on it.

[2017-12-15 22:44] cjslep opened #43 "Valid JSON Example Triggers Swagger Spec Failure"
Brief backstory: Was investigating an issue with go-swagger failing to generate client code for Eve Online's latest swagger spec.

Long story short, this file will fail validation:

[code]

The test I added to `spec_test.go` was similar to the other issue tests, if the above is put into `fixtures/bugs/new/swagger.json`:

[code]

Note that the first assert passes, the second fails:

[code]

Note th

[2017-12-18 09:05] fredbi opened #44 "Improve validation messages"
We should improve the quality of messages reported by the validation.
In particular, we should be able in one single validation pass, to report about most known errors.
Also, validate should more resilient to spec errors and avoid panicking as much as possible.

## Fix the following issues
A number of issues have already been posted about this.
This issue recaps the ones that might be short term i

[2017-12-18 09:17] fredbi commented on #44
This list should be solved with PR #42

[2017-12-18 09:50] fredbi opened #45 "Examples are not validated"
There is not support to validate examples in spec, with the exception of the Examples section in responses.
It should follow how we validate default values.

Also referred by:
  - [ ] Issue go-swagger/go-swagger#1231 - Examples not validated.

[2017-12-18 10:01] fredbi opened #46 "Constraints on numbers do not validate against proper type|format"
## Applies to: numbers or integers with constraints

Constraints such as **Maximum**, **Minimum**, **MultipleOf** are not validated against the proper type and format.
Instead, the constraint operand (boundary or factor) is systematically (and silently) converted as float64, with a risk of information loss.

We should provide spec consistency check between object/param types and constraints,
and a

[2017-12-18 10:04] fredbi opened #47 "Improvement: error context reporting"
Errors and warnings are dumped in any order, with poor information about context in the spec.

Since retrieving line numbers is a hard problem, I suggest we could extend the Result object to provide a map of paths linked to errors.

**Beware** : this would affect the interface with Result (AddError and possibly some more direct usage).

In the end, messages would be pretty printed by sorting and i

[2017-12-18 17:15] casualjim commented on #46
I think it's important to note that we have to work within the constraints of multiple languages.
In addition to that this is about json-schema where there is no integer support type only floats exist in json.

Compliance to the constraints with integer bounds are checked by another validator. The spec is a json document, and json-schema is described in json, not go.

[2017-12-18 17:26] fredbi commented on #46
Thanks for your comment.
My point is to provide support for consistent value checking when validating the spec,
precisely by taking into account language constraints.

This, I believe, is important when using Swagger format extensions for numbers|integers such as: uint32 etc..

[2017-12-18 18:12] fredbi commented on #46
As we discuss this point, I have 2 questions:
- there are constants (MAX|MIN)_SAFE_INTEGER defined in swag. I imagined that they were used to validate the spec. They are not and there are no warnings or errors on safe conversion. Should we have some?
- there is a piece of code in the schema.go which is related to JSON.Number (a string representation of number). We have no test case trying out this

[2017-12-22 15:46] casualjim commented on #16
fixed by: go-openapi/validate#44

[2017-12-22 15:46] #16 closed

[2017-12-22 15:46] casualjim commented on #12
fixed by: go-openapi/validate#44

[2017-12-22 15:46] #12 closed

[2017-12-22 19:30] #44 closed

[2017-12-23 00:51] fredbi commented on #46
Fixing #44 did help to support this feature on default values.
The actual checks and type conversions are delivered. All testing could be done with default values.

We just miss the actual call to these validations for schemas bereft of default value

That would come naturally with support of example values, but would require some additional effort to validate constraints boundaries/factor in case

[2017-12-23 10:57] fredbi commented on #19
See alse go-swagger/go-swagger#959 (related but not duplicate)

[2017-12-23 13:14] fredbi opened #49 "Enhancement: CI configuration"
Since this pakage has recently undergone a vast extension of UT and coverage, it would be
nice to reap the benefits in our CI chain.

## Problem statement
- Validating a lot of specs takes some time
- default go test timeout is 10 min
- current CI configuration wants -race, thus even more resources and time consuming (about 1h)

## Suggested solution
The suggested travis setup with PR #60 splits C

[2018-01-01 23:51] fredbi commented on #43
Tested your spec in my development branch for which examples are validated.

I still got the issue, which is due to the property "items".
If I replace "items" by "Items" or "item" it is valid.

The internal schema validator is misled by your choice of a property which is also a json-schema keyword.

[2018-01-02 00:18] casualjim commented on #43
this is a bug on our end, the reserved words are positional in a spec. So items where it occurs in the path has to be valid.
@kreamyx was looking into this because it's part of a series of bug fixes around ref resolution that made this appear.

[2018-01-02 08:05] fredbi commented on #43
@casualjim if I summarize our discussion, this is problem in spec handling of properties, not in the package "validate" per se.

It so happens that the validation of examples in responses scans the schema for the items property which is not properly validated, because the property "items" is mismatched with the schema keyword "items" at spec parsing time.

[2018-01-02 08:10] fredbi opened #51 "Better error reporting on unsupported keywords"
Unsupported json keywords in swagger are a common failure for my specs which are largely inherited from previously designed json schemas.

Currently, error reporting is terse on this kind of problem.

At best, I have a "forbidden property xxx" message.
At worse, I have a "xxx does not validate oneOf ..." message.

The switch between these 2 types of message is dificult to control (related to Match

[2018-01-02 08:21] fredbi opened #52 "Better advertising of $ref sibling issues"
When writing yaml specs, indentation _does_ matter.

It is vey easy to mismatch a $ref into a sibling object.

In that case, the parser overrides the schema by the $ref, which is correct behavior.

Often, valid vs invalid differ by only a few blanks.

Currently, the validator follows the parsed schema. Most likely, we get some difficult to understand errors such as 'xxx in body does not validate O

[2018-01-02 08:33] fredbi opened #53 "Build and document message catalog"
Advertise and document in godoc all reported messages.

This doc should distinguish:
- messages and warnings produced by swagger spec validation rules
- messages and warnings produced by swagger schema validator

[2018-01-02 08:43] fredbi commented on #46
Here is the full story of what I've currently on the workbench:
- [ ] regardless of the actual go type they are serialized to, json numbers and integers should validate constraints with the native type indicated by their format. This would avoid the infamous issue https://github.com/xeipuuv/gojsonschema/issues/149 other validators struggle with (because they don't use custom formats such as the on

[2018-01-02 08:47] fredbi opened #54 "Check constraint on discriminator property"
As per swagger 2.0 spec (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md), we have the following constraint:

discriminator | string | Adds support for polymorphism. The discriminator is the schema  property name that is used to differentiate between other schema that  inherit this schema. The property name used MUST be defined at this  schema and it MUST be in the require

[2018-01-02 09:03] fredbi opened #55 "Split validate package"
The validate package suports two related but different use-cases:
- validating swagger specs
- validating data against schemas

I would say that validating swagger specs is itself broken in:
- validating a swagger schema
- running extra rules

This mix of features makes the validate package difficult to document, maintain and guarantee against regression, especially the very sensitive data against

[2018-01-02 09:08] fredbi opened #56 "Known limitation: examples in response only validate application/json producers"
Currently, examples in responses are validated against schema if and only if the producer is application/json.

xml data for instance, is silently ignored.

To make things clearer, PR#50 advertise this limitation by a warning if unsupported mime types are discovered.

Still, we ought to support more producers some day.

[2018-01-02 09:24] fredbi opened #57 "Publish data validator benchmark"
The validator provided by this package is quite fast
and it may be used independently from the go-swagger suite.

It would nice to compare it with other popular json validation package and publish the benchmark.
I am thinking of  comparison with:
- https://github.com/xeipuuv/gojsonschema
- some others listed in a post I left there some time ago (before discovering go-openapi 👍
 https://github.com/

[2018-01-02 09:34] fredbi opened #58 "Delegate type reverse lookup for formats"
In type.go, function `schemaInfoForType()` is essentially a reverse lookup of the format registry.

Currently, there some types missing from the default registry published by go-openapi/strfmt.

PR #50 added support for "mac" (following report from go-swagger/go-swagger#1348), but some remain missing:
Formats:
[ ] TODO: missing password
[ ] TODO: missing binary

Overall, keeping this reverse looku

[2018-01-02 10:03] fredbi opened #59 "Improve performance on validate spec"
Following @kreamyx  advice in go-openapi/spec#51:
_Since every call to validate, in theory, should be referencing a file, then validate should be calling the ExpandSchemaWithBase() and then we can get rid of ExpandSchema()_

[2018-01-02 11:50] cjslep commented on #43
Thanks for the discussion. My apologies for not filing it against the correct repository -- this was the easiest entry point into showing a reproducible issue.

For clarity: I am not an employee of CCP Games. So I have no control over how Eve Online's spec is defined.

I greatly appreciate you all picking up the baton from where I left it off.

[2018-01-02 11:57] fredbi commented on #43
The validation part had to take the hit, since it is the one reporting about issues.
I have to admit that in your case, the reported error message was quite terse.
The side effect of adding examples is indeed hard to follow.
As @casualjim pointed out, this is deeper in the internal structure representing the spec.

[2018-01-10 09:49] fredbi opened #61 "Accurate spec validation message on type: [ ...] construct"
In spec `./fixtures/swagger/canary/docker/swagger.json` we find a construct for multiple-types,
e.g.:
[code]

The following "items" specification is not well validated, and unduly reports a spec validation message.

[2018-01-10 18:06] #45 closed

[2018-01-10 18:06] #49 closed

[2018-01-11 07:12] #53 closed

[2018-01-12 10:13] fredbi opened #63 "Multi-valued parameters in path or query are not checked against collectionFormat"
According to spec, a multi-valued parameter in path or query (simple parameter) MUST be accompanied by the appropriate collectionFormation definition.

This check is currently not carried on by validate [results in wrong go-swagger code generation]

[2018-01-12 18:15] fredbi commented on #63
Hello greg.
I am saying that a query param may be of type array and pass the validation without collectionFormat.
I am saying too that this setup produces invalid generated code in go-swagger.

The specification is ambiguous because it says two things:
- for query or path parameters of type array, thee MUST be a collectionFormat
- an when looking at collectionFormat, they say the default is csv

W

[2018-01-12 18:17] gregmarr commented on #63
"for query or path parameters of type array, there MUST be a collectionFormat"

Where are you seeing this?  I can't find it.

[2018-01-12 18:57] fredbi commented on #63
You are right, I did get it from the official spec on 2.0.
Got it from here, since I thought it would bring some clarification... Actually it didn't.
https://swagger.io/docs/specification/2-0/describing-parameters/#query-parameters

[2018-01-12 18:58] fredbi commented on #63
So if it is advisory only, I might add a warning some day in validate.
But right now I am in the template generating code for this part.
I'll take csv as default value if not defined and needed.

[2018-01-12 19:00] fredbi commented on #63
Sorry for misleading previous post: I believe you're right - it is **NOT**  stated as mandatory in official 2.0 spec

[2018-01-12 19:11] fredbi commented on #63
How about examples and default values for such a param?
They should follow the collectionFormat syntax or be like regular arrays?
The former case is not supported by validate, the latter is.

[2018-01-13 00:58] casualjim commented on #63
it's already unpacked at runtime validation time

[2018-01-13 06:27] fredbi commented on #63
I understand that for runtime validation.
I was referring to spec validation of default and examples values.

Should the example value be expected in the collectionFormat form?

[2018-01-13 06:41] casualjim commented on #63
It should still follow the same rules. So when collectionFormat is not present it should use the default strategy which is csv

[2018-01-13 06:44] fredbi commented on #63
ok. This does not work like this currently. Same for default values.
Right now for simple array parameters (or headers), values are expected as provided as a slice, not a string to parse.
One more fix for one more corner case... :)

Thanks

[2018-01-13 06:56] casualjim commented on #63
sorry yes the collecitonformat is only a parsing hint. The example value in the spec is the collection not the string to which the collectionformat is applied

[2018-01-15 12:25] fredbi commented on #63
Hello @casualjim
If I follow this advice and try to generate code from go-swagger/go-swagger/fixtures/codegen/swagger-codegen-tests.json,
then we have a problem in generation with default value defined [here](https://github.com/go-swagger/go-swagger/blob/e51fba5b7c5094fa52b8d42b508a3d1c2af6ccc8/fixtures/codegen/swagger-codegen-tests.json#L124).

Template server/parameter.gotmpl obvisously takes th

[2018-01-15 14:48] gregmarr commented on #63
The Swagger 2 spec says

[2018-01-15 14:50] gregmarr commented on #63
That tells me we need to fix the test, as its default doesn't match the type.

[2018-01-15 14:57] fredbi commented on #63
Done.
This is the generation that bails...
I started with a simple fix, but simple non-regression (trying to compile all available fixtures) is getting me much farther than I initially thought.

[2018-01-15 14:58] fredbi commented on #63
Template simply does fit for default value in array params (not to say, nested arrays).

[2018-01-30 06:57] fredbi opened #65 "Invalid Examples should trigger a warning"
In my current implementation of examples validation, I incorrectly triggered validation ERRORS when examples are invalid (mimicking what is done for default values).

After verification in the Swagger 2.0 spec, it occurs these should be warnings only:
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#example-object

[2018-01-30 06:58] fredbi opened #66 "Spurrious warning message: "has a default but no valid schema""
This warning message was intended to warn the use default values can't be validated when the schema itself is invalid.

It incorrectly fires for simple schema definitions with default values.

[2018-01-31 16:24] fredbi commented on #66
This regression introduced by PR #42 (merged in go-swagger vendor) has been fixed with PR #60 (not yet merged in go-swagger vendor)

[2018-01-31 16:30] fredbi opened #68 "Default and example value formatted as date are interpreted as date-time"
Found a regression which implicitely convert date literals into date-time and then fails to validate them.

[2018-01-31 17:20] fredbi commented on #68
The problem is not in validate: spec provides an already altered string at the very begining of the validation process

[2018-01-31 19:11] fredbi commented on #68
OK. Found it. False alert.
The apparent regression is not due to go-openapi modules, but to an evolution in the pkg.in/yaml.v2 that I have locally, with a more recent version than in go-swagger vendors.
This change makes yaml parser takes some "smart" decisions about types whenever it recognizes a date...
Quoting date values solves the issue.

[2018-01-31 19:11] #68 closed

[2018-01-31 19:42] fredbi opened #69 "Default values not checked against format in response headers"
The formatValidator  does not support Header objects, therefore disabling format validation of default values.

[2018-01-31 22:51] #65 closed

[2018-01-31 23:13] #66 closed

[2018-01-31 23:13] #69 closed

[2018-02-02 08:58] fredbi opened #71 "Question: struggling to understand type.go"
Hello.
I am cross-checking schema validations, particularly regarding formatting.

I am struggling to understand the inner workings of `typeValidator`, and especially the `schemaInfoForType()` function.

At first glance, it looked to me that this big reflected type switch was very much dependant on strfmt types and should be kept in sync.

Then I realized this type switch can never be fully explor

[2018-02-03 19:49] fredbi opened #73 "Panics when unresolved reference in response"
Refers to issue go-swagger/go-swagger#1406

Fix is ongoing for panic.

Underlying $ref behavior to be checked against spec [i.e. #response, #parameter can't be external $ref]

[2018-02-05 08:43] fredbi commented on #73
Fixed with #74
Needs more investigation in spec to get fully at go-swagger/go-swagger#1406

[2018-02-05 08:43] #73 closed

[2018-02-06 11:34] fredbi opened #75 "Adopt proper $ref expanding methods in validate"
Current implementation of $ref expansion in parameters and $response does not properly expand external $ref's.
See go-swagger/go-swagger#1406

Plan devised with @kreamyx
- export expandParam and expandResponse in spec pkg
- replace spec.GetPointer() iterations in validate by these methods

[2018-02-09 08:23] #75 closed

[2018-02-26 11:15] nikhita opened #79 "Use vendoring"
I tried running a test but faced errors due to an old `go-openapi/loads` package. I believe vendoring would have solved such errors.

What do you think of introducing a vendor directory using any preferred dependency management system (maybe [dep](https://github.com/golang/dep))?

@sttts fyi

[2018-02-26 12:50] fredbi commented on #79
Vendor and dep are configured in the "receptable" repository go-swagger/go-swagger, essentially because it is a full distribution, including some binary releases.

go-openapi packages have no such constraints. Basically, they are tested with all dependencies with most recent versions (e.g. go get ...), and we don't tag releases on these packages (at least for now).

If you are using this pkg indep

[2018-03-02 14:35] fredbi opened #80 "Propose a mode for model only validation"
Since go-swagger model generation may generate models from only partial specs (e.g. definitions only) and supports (at least partially) the additionalItems JSON-schema construct,

it would be nice to implement some option in validate to validate such models which are not strictly swagger-compliant

[2018-03-24 13:56] cyberphone commented on #46
@fredbi  @casualjim I would claim it is related.  OpenAPI seems to be incompatible with https://tools.ietf.org/html/rfc7493 written by the current JSON editor:

I have adopted this RFC and here is my take on how to deal with int64, BigNum, etc.:
https://cyberphone.github.io/doc/security/draft-rundgren-json-canonicalization-scheme.html#rfc.appendix.D

[2018-04-10 02:16] pitiwari opened #82 "compile error when trying to include github.com/go-openapi/analysis"
I am trying to use openapi to validate crd schema. I used  glide to install the opeapi but i am getting compilation error below while trying to compile

code:

package validate

import (
"github.com/go-openapi/analysis"
)

error:

GOROOT=/usr/local/go #gosetup
GOPATH=/Users/pitiwari/go-ws #gosetup
/usr/local/go/bin/go build -i -o /private/var/folders/y4/zplxn82n5293wh__31pqxsth39682s/T/___go_build

[2018-04-12 17:03] koron opened #83 "failed to validate with simple type:object schema"
This test should be passed, because a schema `{"type":"object"}` accepts any objects.
It should not depend on contents of validation target.

[code]

However it fails just only for `{"type":"array"}`.

[code]

This is caused by `objectValidator.checkArrayMustHaveItems()`,
it checks contents of target value, when there are `type:array`, it requires `items` field too always.

What is the function's

[2018-04-15 05:27] koron commented on #83
This is caused by https://github.com/go-swagger/go-swagger/issues/1238 and https://github.com/go-openapi/validate/pull/32

[2018-04-15 10:51] koron commented on #83
Which is the responsibility of `objectValidator`?

* Input JSON is valid against the schema JSON (I expect this)
* Input JSON is valid as Swagger 2.0 (current behavior)

[2018-04-22 18:15] victorxw opened #87 "Regex cache has potential data race"
https://github.com/go-openapi/validate/blob/659e09d234fdd860a2556c5a53fcfff6f787e24b/rexp.go#L28-L32

The current implementation allows for read to happen without acquiring lock. This leads to data race when read and write happen concurrently.

[2018-04-22 19:47] #87 closed

[2018-04-23 18:05] mvndaai opened #89 "Add line number for errors"
I get the error `analyzed: types don't match expect map key string or int got: bool` which has no reference to anything. This same code passes a swagger validator online. How do I find out what you want to fix?

[2018-04-23 18:30] fredbi commented on #89
This issue was also discuted here:  https://github.com/go-swagger/go-swagger/issues/121

This is a difficult problem with the current go ecosystem (json and yaml decoders).

[2018-04-24 05:01] mvndaai commented on #89
Thank you for taking the time to explain that @fredbi.

[2018-05-04 07:11] fredbi opened #92 "Improvement: validate enums"
When using go-swagger, an enum that cannot unmarshall into its schema triggers a runtime panic.

A warning when validating the spec would help preventing that.

[2018-05-04 13:42] gregmarr commented on #92
Do you have an example of a schema like this?

[2018-06-09 05:58] jerome-laforge opened #93 "Improvement: avoid lock on regexp's cache when it is hot"
Hello,
I want to propose this PR #94 to avoid the lock when regexp's cache is hot.

Benchmarks is done with
[code]

with lock
[code]

with atomic.Value
[code]

[2018-06-09 06:08] #93 closed

[2018-07-15 16:49] fredbi commented on #82
go-openapi repos now tagged since 0.15. So dep gets the constraint on the version for all go-openapi repos

[2018-07-15 16:49] #82 closed

[2018-07-26 05:01] nathanjsweet opened #97 "Boolean Values cannot be "required""
[This line of code](https://github.com/go-openapi/validate/blob/master/values.go#L116) makes it impossible to "require" a boolean value, as only the "truthy" value won't cause that line to throw an error.

[2018-07-26 05:03] casualjim commented on #97
we use pointers for required/not-required
are you using this outside the context of the code generator?

[2018-07-26 05:07] nathanjsweet commented on #97
I'm using the go-swagger project.

[2018-07-26 05:15] casualjim commented on #97
I just tried it but because it's pointers it passes

[code]

[2018-08-08 14:10] bah2830 opened #99 "Compile error"
In the latest master (commit 4f81262a03dbefe1003f745d3d0a03cbeea98d50) I am getting

[code]

this was not happening on 0.15.0 so I have a workaround for now but figured I'd bring the issue up.

It looks like the issue may have come from https://github.com/go-openapi/validate/pull/98. The CI bot found the issue but it was still merged.

[2018-08-08 15:11] fredbi commented on #99
When you build from master, you have to get your dependencies from master as well.
In your case, you upgraded validate, but not the dependency on spec?

[2018-08-08 15:29] casualjim commented on #99
we tag releases together. So if you depend on 0.15.0 for go-swagger/go-swagger dep should pull in the 0.15.0 tags of the go-openapi repos

We won't add dependency management in the libraries. We make sure HEAD master branches all work together

[2018-08-08 15:36] gregmarr commented on #99
This tagging is new, so 0.15.0 is the first version where all the `go-openapi` repos have a tag that matches the `go-swagger` release.

[2018-09-08 03:47] pprasadk commented on #99
I am also facing the same problem. Please suggest the fix.

[2018-09-08 05:02] fredbi commented on #99
dep ensure -update

[2018-09-10 14:01] ArnoSen opened #102 "Validation failed in some conditions"
Hi,

In my code I use this library to validate an OpenAPIv2 document.

However, since today, I get an error on my OpenAPIv2 documentation of which I cannot find the root cause. I appreciate if you can help me with this.

The error returned from the validator is:
[code]

I found the debug switch and after enabling, I read this :
[code]

When I look for #root in the document I get only one line:
[co

[2018-09-10 14:50] casualjim commented on #102
we can't help without seeing the spec document or a similar one

[2018-09-10 15:48] fredbi commented on #102
This reference to pseudo file "root" is typical from a missing Basepath

[2018-09-10 16:07] ArnoSen commented on #102
I find out that with an older version of this library, there are no errors but with the current 0.16.0, I see this error.

Here an example that gives the error mentioned above:

[code]
This is my stripped down main:

[code]

[2018-09-10 16:39] fredbi commented on #102
This is a bug. It works well when loading the spec with loads.Spec("myfile"), but there is a failure when
loading with Analyzed().

[2018-09-10 17:10] fredbi commented on #102
The problem is actually in go-openapi/spec, and this regression is linked to our recent attempts to close several gaps in the recursive $ref resolution.
I am attempting a fix there.

[2018-09-18 19:39] nikhita commented on #79
@fredbi :+1:

[2018-09-18 19:39] #79 closed

[2018-10-04 11:00] mbana opened #104 "Pattern: Valid pattern throwing error"
I am getting tthe below error for this swagger file: https://raw.githubusercontent.com/OpenBankingUK/payment-initiation-api-spec/master/dist/v1.1/payment-initiation-swagger.json.

[code]

Definition:

[code]

[2018-10-04 12:54] fredbi commented on #104
That's because we don't strictly support ECMA regexp, but follow golang implementation.

Operator `?!` is not supported by go regexp.

Try it out there: https://regex-golang.appspot.com/assets/html/index.html

[2018-10-04 13:03] mbana commented on #104
@fredbi, modifying the swagger is out of the question.
What do you suggest I do?

[2018-10-04 15:54] casualjim commented on #104
you can make use of our mixin command which allows you to patch a swagger spec.
That allows you to pre-process the swagger specification and then run the code generation step.

[2018-11-01 18:43] fredbi commented on #52
no I've very much busy patching up some other sides of go-openapi

[2019-02-15 02:15] jnflint opened #105 "Validation failure with default values of type integer or boolean"
Getting validation failures for spec https://consumerdatastandardsaustralia.github.io/standards/includes/swagger/cds_full.json

Errors are:

page in query must be of type integer: "string"
default value for page-size in query does not validate its schema
page-size in query must be of type integer: "string"
in operation "getAccountDetail", default value in response 200 does not validate its schema

[2019-02-15 03:41] casualjim commented on #105
then that's a bug in the editor

[2019-02-15 03:41] #105 closed

[2019-02-15 05:02] jnflint commented on #105
Ok, that could be so. I don't know enough about the swagger spec to understand what is wrong.
Do you mind helping me out and letting me know how
[code]
Can be validly implemented (ie. integer type with default value) in a swagger spec?

Appreciated.

[2019-02-15 05:41] casualjim commented on #105
[code]

[2019-02-15 06:01] jnflint commented on #105
Thanks, I stupidly thought the supplied spec must be valid. Thanks for answering my query. Great library.

[2019-03-29 13:00] cam-hashemi commented on #25
I don't think the original question was really answered.

Is there any documentation on this project outside of issues and stackoverflow?

[2019-03-29 13:12] fredbi commented on #25
There is this, with some examples for usage: https://godoc.org/github.com/go-openapi/validate

[2019-03-29 15:01] cam-hashemi commented on #25
thank you @fredbi 👍

[2019-04-03 10:35] fredbi commented on #99
Now all go-openapi and go-swagger repos have moved to go modules to manage dependencies.
This may be safely closed, I'd reckon.

[2019-04-03 10:35] #99 closed

[2019-04-13 10:54] cliveseldon opened #108 "Property Name "Items" is invalid"
If you have a property name "items" it fails validation. I added to schema_test.go:

[code]

[code]

[2019-04-13 12:27] fredbi commented on #108
duplicate of #43

[2019-04-13 12:30] fredbi commented on #43
I am revising my opinion above: this bug is indeed in this package, not go-openapi/spec.
The special, but wrong, handling of "items" is also the cause of #83

[2019-04-14 07:01] cliveseldon commented on #108
In the test above you would think this fuction:
https://github.com/go-openapi/validate/blob/3fd099a3cf2ee54e86beee561afe8f1b5bfe769e/object_validator.go#L54-L57
should return true and thus as its called from
https://github.com/go-openapi/validate/blob/3fd099a3cf2ee54e86beee561afe8f1b5bfe769e/object_validator.go#L69-L71
all should be ok. But in reality it returns `false` as `o.Path` is ""

Is this

[2019-04-14 09:08] fredbi commented on #108
not that simple...

This piece of code should not actually be in charge of checking swagger stricter constraints but should only validate jsonschema constraints

[2019-04-14 09:13] cliveseldon commented on #108
Thanks for your update @fredbi .

My comment is really trying to gauge how much and what work is required to fix this issue.

[2019-05-22 09:05] tossmilestone commented on #108
@cliveseldon I have submitted a PR to fix the issue, you can check it #106.

[2019-07-01 10:18] RekhaPriya opened #111 "extra rules validations for openapi 3.0.X version"
Hi,
Can you please confirm if this package doing the [extra validations](https://godoc.org/github.com/go-openapi/validate#hdr-Validating_a_specification) for openapi 3.0 version as well ?

Also I just want to use this package only for extra rule validation, as I have a written a separate program to do the swagger2.0/json schema validation. Is that possible ?

[2019-07-01 16:28] fredbi commented on #111
@RekhaPriya this package does not support OpenApi 3.0. Only 2.0.

[2019-07-02 10:52] exu opened #112 "Validation of any type"
Hi,

I'm trying to make default schema validation which can take any possible JSON, unfortunetally when configuring global object with

[code]
validator overrides validation when `items` key exists in  body. Any ideas how to manage whis problem will be very helpful :)

below example test which doesn't pass:

[code]

[2019-07-02 11:46] fredbi commented on #112
Duplicates #43

[2019-07-09 10:41] RekhaPriya commented on #111
@fredbi Hi, Any plan in future to support OpenApi 3.0 ?

[2019-07-09 10:44] RekhaPriya commented on #111
@fredbi Can you please consider the OpenApi3.0 support as a feature request/enhancement ? Thanks!

[2019-07-30 01:04] eclipseo opened #113 "Build failure with Golang 1.13"
Issue appearing on Golang 1.13 beta 1 on Fedora Rawhide:

[code]

[2019-08-04 20:05] eclipseo commented on #113
Fixed in https://github.com/go-openapi/jsonpointer/commit/a67b0cdac37a3489417baf74a7c7802673395a2d

[2019-08-04 20:05] #113 closed

[2019-09-26 06:34] diafour opened #114 "Validating data gives "in body" in errors"
Hi! I want to validate data against non-swagger schemas. Everything is ok, except this line: https://github.com/go-openapi/validate/blob/master/schema.go#L75
Is there any recommendations how to change `in: "body"` to something that user can control?

For now, i just fork this repo and change `in: "body"` to `in: ""` to get less confusing error messages ;)

[2019-09-30 20:56] tateexon opened #115 "Question: http.Response validation against schema"
I am looking for a way to validate an http.Response (https://godoc.org/net/http#Response) against a swagger 2.0 schema. I am hoping I have just missed some documentation for doing this in my google searches. I have my code built out to this point:
[code]
Is there an example of how to validate an http.Request or an http.Response against a swagger file?

[2019-10-01 06:22] fredbi commented on #115
You can call the Validate method of the response schema in your handler.
This is not wired in the generated server.

[2019-10-04 16:55] tateexon commented on #115
Thank you very much, this makes sense.

[2019-10-04 16:55] #115 closed

[2019-10-09 06:57] cliveseldon commented on #108
This is great. When will it be in a k8s release so we can check this has reached upstream?

[2019-10-10 03:11] tossmilestone commented on #108
@cliveseldon it seems that you found a bug of the structural schema feature. In the PR https://github.com/kubernetes/kubernetes/pull/76124, the CRD validation have been added by the option.

[2019-10-10 09:09] fredbi commented on #108
This has been a long standing bug. The culprit is here https://github.com/go-openapi/validate/blob/cae306c30a7752481df7cfb7a7340d1e85fa64d6/object_validator.go#L60

[2019-10-10 09:42] cliveseldon commented on #108
@fredbi But this sounds very much like the original bug of this issue which is if you have a property called "items" its always treating this as an array. I thought the fix was specifically to solve this?

[2019-10-10 11:33] fredbi commented on #108
There are 2 issues related with items and people are sometimes confusing. The root cause is the same but the symptom are two-fold:
i) a swagger-specific rule to validate "items" for arrays (i.e. arrays must have items) has slipped into the generic json-schema code
ii) this rule (code ref mentioned above) is lazy and checks that everything that has an "items" key must be an array, which is obviousl

[2019-10-10 11:42] fredbi commented on #108
I am failing to see how #107 could solve this bug. IMHO, this is fixing some other thing

[2019-10-11 13:24] cliveseldon commented on #108
I think actually the api-server crash I logged above is due to ` x-kubernetes-int-or-string` handling (see https://github.com/kubernetes/kubernetes/issues/83778 ) rather than #107

[2019-11-06 22:12] cliveseldon commented on #108
I don't think this is fixed. See https://github.com/kubernetes/kubernetes/issues/84880

[2019-11-06 22:47] fredbi commented on #108
@cliveseldon PR #119 should fix this.

[2019-11-06 22:51] #43 closed

[2019-11-06 22:51] #83 closed

[2019-11-06 22:51] #108 closed

[2019-11-06 22:51] #112 closed

[2019-11-27 10:31] foxcool opened #122 "One validation error instead of all"
At some point, goswagger stopped returning all validation errors when processing the request, but only the first.

[2019-12-11 12:09] ArnoSen opened #123 "Validator reports unexpected error"
Hi,

I updated my version of this repo to the latest version and found out that my swagger file was not logner valid. When posting my swagger in https://editor.swagger.io/ , it says it is fine.

The error I got is:
`could not resolve reference in /api/v1/getx to $ref : open root: no such file or directory`

I traced it down to an potential issue with recursive definitions.

Here is my stripped dow

[2019-12-11 12:21] ArnoSen commented on #123
I reviewed the commits and found out that from 109e4ba9311ff3d8fa3177d12e809ce40c033e69 the example Swagger was marked invalid

[2019-12-12 20:53] fredbi commented on #123
@ArnoSen is that not the same issue as the one you previously reported (#102)? My understanding is that we have a problem resolving cyclical references directly from root schema, without any `relativeBase` provided.

[2019-12-17 13:05] ArnoSen commented on #123
Hi @fredbi, I forgot about #102. I will do a review and update this issue.

[2019-12-25 17:04] fredbi commented on #123
@ArnoSen I am currently trying to tackle some last remaining issues with the go-openapi/spec and $refs. This issue with "root" is on my radar, although I understand how it occurs, I have no clear fixing strategy in mind for the moment.

[2019-12-26 12:05] fredbi commented on #122
@Foxcool go-swagger generated server fails fast and does not attempt to report all validation errors on incoming requests.

If it did in the past, that must have been pretty long ago...
At some point we have discussed having this as a kind of "debug opt-in" in codegen, but eventually decided to keep it simple with only the fail-fast behavior.

[2020-11-28 08:38] #102 closed

[2020-11-28 08:38] #123 closed

[2020-11-28 09:20] #111 closed

[2020-12-08 23:16] bytheway opened #135 "New errors validating a file without a .yaml extension"
We've been using the go-openapi project for a while to help run some sanity check style validations on our documents. We have some extension properties in our documents (for GCP endpoint security) which never caused an issue with validations before, but after updating some dependencies we now get errors like:

[code]

Here are the versions we have in go.mod when not working

[code]

Running agains

[2020-12-09 06:11] fredbi commented on #135
Interesting.
Could you please share the swagger spec document that caused this issue?

[2020-12-09 06:15] fredbi commented on #135
Is your document a yaml doc?

This looks to me like the latest change to "go-openapi/loads" could be the culprit. This error looks very much like some internal document fetcher no more fetches yaml docs but only json docs. Just a hunch

[2020-12-09 16:11] bytheway commented on #135
the document is yaml. I put a subset of our code (ugly as it is) in a repo which does reproduce the error.

https://github.com/bytheway/openapi-testcase

In our case we have some variables that we have in our raw openapi files that are substituted with some simple string replacements. In putting the repo together I noticed that the validation passes if I load the `valid.yaml` file directly, but is

[2020-12-10 14:49] bytheway commented on #135
I was able to get this working in my project by changing my tempfile name to have a .yaml file extension. It seems that whatever recent change was made doesn't properly detect that the file is yaml if the file doesn't have an extension.

[code]

to

[code]

[2020-12-10 19:43] fredbi commented on #135
@bytheway  ok I could reproduce your issue.
I think that your code used to rely on some package level persistence of cached $ref. It should never have worked,
but because of this undue "memory", it worked.

The actual issue with your program is that the new file has no yaml extension, so the loader tries it as json.

If you change your "munged" file name to `mungedFile, err := ioutil.TempFile("",

[2020-12-10 19:57] bytheway commented on #135
Yeah, looks like we came to the same conclusion.  👍 Thanks for the help!

[2020-12-10 19:57] #135 closed

[2021-01-11 23:43] ianlancetaylor opened #137 "Go 1.16 will change behavior of what appears to be a buggy conditional"
This line of code looks buggy to me:

https://github.com/go-openapi/validate/blob/master/type.go#L140

The troublesome code is:

    reflect.DeepEqual(reflect.Zero(reflect.TypeOf(data)), reflect.ValueOf(data))

The function `reflect.DeepEqual` takes two different values of any type and returns whether they are "deep equal".  It does not ordinarily take two different values of the type `reflect.Val

[2021-01-16 20:23] #137 closed

[2021-01-24 17:01] eclipseo opened #139 "Multiple test failures with Go 1.16 beta 1"
On Fedora Rawhide with Go 1.16 beta 1, the following tests fails:

[code]

[2021-01-24 17:15] eclipseo commented on #139
It's because I use a newer github.com/go-openapi/errors
Closing.

[2021-01-24 17:33] eclipseo commented on #139
Actually I use the correct one, version 0.19.9

[2021-01-24 17:36] fredbi commented on #139
@eclipseo  a recent commit was supposed to address go1.16 specifics, in particular affecting the required check: https://github.com/go-openapi/validate/pull/138

Can you reproduce your issue with v0.20.0? (just before that commit)

[2021-01-24 17:39] eclipseo commented on #139
I was using 0.20.0, it seems to be fixed with 0.20.1 indeed.

Thank you.

[2021-01-24 17:39] #139 closed

[2021-10-22 07:24] believening opened #142 "What is the default maximum value of the Integer type?"
https://github.com/go-openapi/validate/blob/cd349c24ea7afd13ea2935f95dfd92c09031149e/schema_test.go#L30

I added a use case to test the default maximum value of the Integer type, which I expected to be the int64 upper bound, which is 9223372036854775807, but it doesn't look like that.

[code]

the result of the unit test function is as follows：

[code]

[2021-10-22 08:56] #142 closed, assigned to nobody

[2022-01-14 17:16] kzys opened #143 "Break cyclic dependencies by moving runtime.File"
Currently `validate` depends `runtime` but `runtime` depends `validate`. Luckily `validate` only uses `runtime.File`.

So, how about moving `runtime.File` to `validate`, `swag` or somewhere else? We could keep `runtime.File` as an alias.

[2022-02-02 14:42] nikgalushko opened #146 "Validation extremely slow"
Hi. I used the project long time and it's a fantastic product. I recently upgrade github.com/go-openapi/validate in my project from v0.19.7 to v0.20.3 and the validation speed has dropped dramatically.
My current specification is really huge ~16000 lines and v0.19.7 validates it about 7-8 seconds but v0.20.3 takes 7-8 minutes.

[2022-02-04 14:47] nikgalushko commented on #146
If it's helpful I can send a CPU profile from my benchmark.

[2022-02-05 19:15] #143 closed

[2022-02-08 00:38] kzys commented on #146
@nikgalushko That would definitely help our investigation.

[2022-02-08 05:01] casualjim commented on #146
Interesting, in this repo the changes seem really benign. It would be good to know some more about the specification file too. Maybe it's not possible to share the spec but can is it possible that there are a lot of `$ref` objects in there and is there $ref recursion?

[2022-04-11 12:07] vitkarpenko commented on #146
Hi! I've encountered the same problem while updating `go-openapi/validate` from 0.19.7 to 0.21.0 with the same specification file as nikgalushko. For me validation time also jumped from ~4s on 0.19.7 to almost 6 minutes on the latest version.

@casualjim, our spec is indeed contains a lot of refs (2100+), not sure about recursion though, I'll check it.

I'm attaching CPU profiles for both versions

[2022-04-12 10:16] vitkarpenko commented on #146
There are some $ref recursions too.

[2022-06-02 15:13] vitkarpenko commented on #146
Using expanded analyzer actually fixed the issue. Thank you, @koron.

[2022-06-03 10:20] #146 closed